control_mode: 'arduino'

arduino:
  port: '/dev/ttyACM0' # Hoặc /dev/serial0 tùy bạn
  baudrate: 115200

sensors:
  camera:
    picamera2:
      format: 'BGR888' # Nhớ là BGR
      buffer_count: 4
      controls:
        FrameRate: 30

lane_following:
  pid:
    kp: 0.8
    ki: 0.0
    kd: 0.3
    min_output: -255
    max_output: 255
  base_speed: 150
  max_speed: 255
  min_speed: 60

ai:
  lane_detection:
    roi_top_ratio: 0.5
    hough_threshold: 20
    min_line_length: 30
    max_line_gap: 20